<div id="container-lbel">
    <ul>
        <li v-on:click="activeTab(1,$event)" class="lbel-item" :class="{'active' : tabValue === 1}">first item</li>
        <li v-on:click="activeTab(2,$event)" class="lbel-item" :class="{'active' : tabValue === 2}">second item</li>
        <li v-on:click="activeTab(3,$event)" class="lbel-item" :class="{'active' : tabValue === 3}">three item</li>
    </ul>
    <div class="container-lbel-views">
        <transition name="fade" >
            <div class="views-block blue" v-if="tabValue === 1" >
                <ul>
                    <li v-on:click="activeLabios(1,$event,true),sliderCreate()"><span>1item</span></li>
                    <li v-on:click="activeLabios(2,$event,true)"><span>2item</span></li>
                    <li v-on:click="activeLabios(3,$event,true)"><span>3item</span></li>
                </ul>
                <div class="containerlabios" v-if="labioStatus == true">
                    <ul class="items-labio">
                        <li><span>1labio</span></li>
                        <li><span>2labio</span></li>
                        <li><span>3labio</span></li>
                    </ul>
                    <div class="container-slider">
                        <h3>slick slider</h3>
                        <div class="wrapper">
                            <h2>Slick Slider</h2>
                            <div class="slick-codepen">
                                <div>
                                    <img src="http://lorempixel.com/540/300/nightlife/1" />
                                    1
                                </div>

                                <div>
                                    <img src="http://lorempixel.com/320/340/nightlife/10" />
                                    2
                                </div>

                                <div>
                                    <img src="http://lorempixel.com/520/400/nightlife/3" />
                                    3
                                </div>

                                <div>
                                    <img src="http://lorempixel.com/380/300/nightlife/4" />
                                    4
                                </div>

                                <div class="slick-slide">
                                    <img src="http://lorempixel.com/500/320/nightlife/5" />
                                    5
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
        <transition name="fade" >
            <div class="views-block red" v-if="tabValue === 2">
                <ul>
                    <li><span>1item</span></li>
                    <li><span>2item</span></li>
                    <li><span>3item</span></li>
                </ul>
            </div>
        </transition>
        <transition name="fade" >
            <div class="views-block grey" v-if="tabValue === 3" >
                <ul>
                    <li><span>1item</span></li>
                    <li><span>2item</span></li>
                    <li><span>3item</span></li>
                </ul>
            </div>
        </transition>
    </div>
</div>