// ==== CONFIGURATION ==== //


// Images path use css
// ------------------------------------------------
$imgs: '../img/cssimgs/';

// Define colors
// ------------------------------------------------
$brand-primary: #000;
$brand-second: #777;

// Fonts
// ------------------------------------------------
$font-path: '../fonts/';

$ff-roboto: 'Roboto', sans-serif;
